body{
    background-image: url(./background.jpg);
    background-repeat: none;
    background-size: cover;
    padding: 0px;
    margin: 0px;
}
.marq{
color: white;
cursor: pointer;
text-transform: uppercase;
font-weight: bold;
margin-top: 5px;

}
.marq:hover{
    color: aquamarine;
    background: grey;
}
.logo{
    position:absolute;
    padding: 8px;
    margin-right: 10px;

}

.log{
    padding: 5px;
    height: 85px;
    width: 80px;
}


ul{
    display: flex;
    justify-items: flex-end;
    justify-content: center;
    padding: 15px;
    float:inline-end;

}
ul li{
    list-style: none;
    display: inline-block;
}
ul li a{
    color: white;
    padding: 15px;
    text-decoration: none;
}
.menu:hover{
    background: grey;
    color: aquamarine;
    border-radius: 15px;
    border: solid aquamarine 1px;
}
.details{
    display: flex;
    justify-content: right;
}
.details{
    padding-top: 15px;
}
.pa{
    color: white;
}
.faith{
    height: 300px;
    width: 250px;
    border-radius: 150px;
}
.u{
    color: white;
    padding: 5px;
    text-transform: uppercase
}
.fu{
    color: white;
    margin: 15px;
    text-align: justify;

}
footer{
    display: flex;
    background: gray;
    padding: 10px;
}
.about{
    padding: 5px;
    font-weight: bold;
    color: white;
}
.copy{
    color: white;
    text-align: center;
}
.ab{
    font-weight: bold;
}